import logging

LOGGING_LEVEL = logging.INFO
ZPANEL_HOST = '127.0.0.1'
ZPANEL_LOGIN = 'zabbix-login'
ZPANEL_PASSWORD = 'zabbix-pass'
ZPANEL_DB = 'zabbix'
ZPANEL_ENGINE = 'postgresql+asyncpg'
ZPANEL_DATABASE_URI = f'{ZPANEL_ENGINE}://{ZPANEL_LOGIN}:{ZPANEL_PASSWORD}@{ZPANEL_HOST}/{ZPANEL_DB}'

ZABBIX_API_USER = 'zabbix-login'
ZABBIX_API_PASSWORD = 'zabbix-pass'
ZABBIX_API_URL = 'https://localhost/'

ORIGINS = [
    "http://localhost:8081",
]
