import logging

LOGGING_LEVEL = logging.INFO
ZABBIX_HOST = '127.0.0.1'
ZABBIX_LOGIN = 'zabbix-login'
ZABBIX_PASSWORD = 'zabbix-pass'
ZABBIX_DB = 'zabbix'
ZABBIX_ENGINE = 'postgresql+psycopg2'
ZABBIX_DATABASE_URI = f'{ZABBIX_ENGINE}://{ZABBIX_LOGIN}:{ZABBIX_PASSWORD}@{ZABBIX_HOST}/{ZABBIX_DB}'

ZABBIX_API_USER = 'zabbix-login'
ZABBIX_API_PASSWORD = 'zabbix-pass'
ZABBIX_API_URL = 'https://localhost/'
