{% import "card.html" as card %}
{% set img_path = url_for('static', path='images/') %}

{% if problems %}
<div class="container-fluid">
        <div class="alert alert-primary" role="alert">
            {% for problem in problems %}
                    {{ problem }};<br>
            {% endfor %}
        </div>
</div>
{% endif %}

<div class="container-fluid">
    <div class="row g-1">
        {% if hosts %}
            <div class="col">
                {{ card.render_hosts(hosts, 1, img_path) }}
            </div>
            <div class="col">
                {{ card.render_hosts(hosts, 2, img_path) }}
            </div>
            <div class="col">
                {{ card.render_hosts(hosts, 3, img_path) }}
            </div>
        {% else %}
                <div id="id_status"><div class="alert alert-primary" role="alert">
                Пустой список мониторинга...</div></div>
        {% endif %}
    </div>
</div>
<script src="{{ url_for('static', path='js/problems.js') }}" crossorigin="anonymous"></script>
