<table class="table table-sm">

    <tr class="table-info">
        <th scope="col">Event ID</th>
        <th scope="col">Severity</th>
        <th scope="col">Время</th>
        <th scope="col">Описание проблемы</th>
    </tr>

{% for problem in problems %}
    <tr>
        <td>{{ problem.eventid }}</td>
        <td>
            {% if problem.severity|int() == 2  %}
                WARNING
            {% elif problem.severity|int() == 3 %}
                AVERAGE
            {% elif problem.severity|int() == 4 %}
                HIGH
            {% elif problem.severity|int() == 5 %}
                DISASTER
            {% else%}
                {{ problem.severity }}
            {% endif %}
        </td>
        <td>{{ problem.clock }}</td>
        <td>{{ problem.name }}</td>
    </tr>
{% endfor %}

</table>
