import logging

ZPANEL_SETTINGS_LOGIN = ['admin', 'zpanel']
ZPANEL_HASH_PASSWORD = '--HASH--'

LOGGING_LEVEL = logging.INFO
ZPANEL_HOST = '127.0.0.1'
ZPANEL_LOGIN = 'zabbix-login'
ZPANEL_PASSWORD = 'zabbix-pass'
ZPANEL_DB = 'zabbix'
ZPANEL_ENGINE = 'postgresql+asyncpg'
ZPANEL_DATABASE_URI = f'{ZPANEL_ENGINE}://{ZPANEL_LOGIN}:{ZPANEL_PASSWORD}@{ZPANEL_HOST}/{ZPANEL_DB}'

ZABBIX_API_USER = 'zabbix-login'
ZABBIX_API_PASSWORD = 'zabbix-pass'
ZABBIX_API_URL = 'https://localhost/'

ZABBIX_API_USER_FIELD = 'user'
#В Zabbix v6.4.0 api и выше поле user поменялось на username
#ZABBIX_API_USER_FIELD = 'username'

ORIGINS = [
    "http://localhost:8081",
]

TEST_HOST = '127.0.0.1'
TEST_LOGIN = 'login'
TEST_PASSWORD = 'password'
TEST_DB = 'zpanel_test'
TEST_DATABASE_URI = f'{ZPANEL_ENGINE}://{TEST_LOGIN}:{TEST_PASSWORD}@{TEST_HOST}/{TEST_DB}'
