{% macro card_text(text) -%}
    <p class="card-text fw-bolder">{{ text }}</p>
{%- endmacro %}

{% macro render_hosts(hosts, col) %}
{% if hosts %}
    {% for host in hosts %}
        {% if host.column == col %}

        <div class="card
        {% if host.error %}
            text-white bg-danger
        {% elif host.snmp_error %}
            text-white bg-danger
        {% elif host.problems %}

            {% if host.problems[0].severity|int() == 5  %}
                text-white bg-danger
            {% elif host.problems[0].severity|int() == 4 %}
                text-white bg-danger
            {% elif host.problems[0].severity|int() == 3 %}
                bg-custom-yellow
            {% elif host.problems[0].severity|int() == 2 %}
                bg-custom-yellow
            {% else %}
                bg-custom-aqua
            {% endif %}

        {% else %}
            bg-custom-green
        {% endif %}
        fw-bolder">
            <div class="row g-0 justify-content-center align-items-center">

                {% set middle_column = 12 %}
                {% if host.image %}
                    {% set middle_column = middle_column - 2 %}
                {% endif %}
                {% if host.data_items %}
                    {% set middle_column = middle_column - 2 %}
                {% endif %}

                <!-- Первая колонка карточки  -->
                    {% if host.image %}
                    <div class="col-md-2 justify-content-start">

                            <img src="http://127.0.0.1:8000/static/images/{{ host.image }}" width="85" height="85" />
                    </div>
                    {% endif %}

                    <!-- Вторая колонка карточки -->
                    <div class="col-md-{{ middle_column }} justify-content-start">
                        <div class="card-body p-0">
                            <h2 class="card-title fw-bolder">
                                <a class="text-decoration-none text-reset" data-id="{{ host.hostid }}" href="#" style="background-color:transparent" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    {{ host.name }} ({{ host.interfaces[0]['ip'] }}) {% if host.problems|count > 2 %}[P:{{ host.problems|count }}]{% endif %}
                                </a>
                            </h2>
                                {% if host.error %} {{ card_text(host.error) }} {% endif %}
                                {% if host.snmp_error %} {{ card_text(host.snmp_error) }} {% endif %}
                                {% if host.problems[0] %} {{ card_text('[' + host.problems[0].clock + '] ' + host.problems[0].name) }} {% endif %}
                                {% if host.problems[1] %} {{ card_text('[' + host.problems[1].clock + '] ' + host.problems[1].name) }} {% endif %}
                        </div>
                    </div>

                    <!-- Третья колонка карточки -->
                    {% if host.data_items %}
                    <div class="col-md-2 d-flex justify-content-center">
                                    {% for item in host.data_items %}
                                        <h5 class="fw-bolder">{{ item.item_value + ' ' + item.item_type }}</h5>
                                    {% endfor %}
                    </div>
                    {% endif %}

            </div>
        </div>
        {% endif %}
    {% endfor %}
{% endif %}
{% endmacro %}
