{% macro render_hosts(hosts, col) %}
    {% for host in hosts %}
        {% if host.column == col %}
        <div class="card
        {% if host.snmp_error %}
            bg-custom-yellow
        {% elif host.error %}
            text-white bg-danger
        {% elif host.problems %}
            bg-custom-yellow
        {% else %}
            bg-custom-green
        {% endif %}">
            <div class="row g-0 justify-content-center align-items-center">

                    <!-- Первая колонка карточки  -->
                    <div class="col-md-10">
                        <div class="card-body p-0">

                            <h2 class="card-title fw-bolder">
                                <a class="text-decoration-none text-reset" data-id="{{ host.hostid }}" href="#" style="background-color:transparent" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    {{ host.name }} ({{ host.interfaces[0]['ip'] }})
                                </a>
                            </h2>
                            <p class="card-text fw-bolder">
                                {% if host.error %}{{ host.error }}{% endif %}
                                {% if host.snmp_error %}snmp: {{ host.snmp_error }}{% endif %}
                                {% if host.problems|count < 2 %}
                                    {% for problem in host.problems %}
                                    [{{ problem.clock }}] {{ problem.name }}
                                    {% endfor %}
                                {% endif %}
                            </p>

                        </div>
                    </div>
                    <!-- Вторая колонка карточки -->
                    <div class="col-md-2">
                        {% if host.image %}
                            <img src="http://127.0.0.1:8000/static/images/{{ host.image }}">
                        {% endif %}
                    </div>

            </div>
        </div>
        {% endif %}
    {% endfor %}
{% endmacro %}
