<script src="{{ url_for('static', path='js/modal.js') }}" crossorigin="anonymous"></script>
<!-- Modal -->
<div class="modal fade open-AddBookDialog" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

                <!-- HEADER-->
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">View host problems</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- BODY-->
                <div class="modal-body">
                    Host problems:
<!--                    <input type="hidden" name="hiddenValue" id="host_id" value="" readonly/>-->
                    <input name="hiddenValue" id="host_id" value="" readonly/>
                    <input name="hiddenValue" id="id_kill_value" value="" readonly/>
                </div>

                <!-- FOOTER-->
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="id_kill" type="button" class="btn btn-danger" onclick="closeModal();">KILL</a>
                </div>

        </div>
    </div>
</div>
