<select class="form-select" aria-label="multiple select example" id="select_items" name="select_items" size="3" multiple>
    {% for item in items %}
            <option value="{{ item.name }}">Элемент: {{ item.name }}; Тип данных: {{ item.value_type }}</option>
    {% endfor %}
</select>
<script>
$('#select_items').change(function(){
    let element = $('#select_items').val();
    $('#itemsModal').find('input[name="item_name"]').val(element);
    $('#itemsModal').find('input[name="item_type"]').val('');
    console.log('Select click!!!: ' + element);
});
</script>
