<!DOCTYPE html>
<html lang="en">
<script src="{{ url_for('static', path='js/bootstrap.bundle.min.js') }}" crossorigin="anonymous"></script>
<script src="{{ url_for('static', path='js/jquery-3.6.4.min.js') }}" crossorigin="anonymous"></script>
{% block head %}{% endblock %}
<head>
    <meta charset="UTF-8">
    <title>Zabbix Panel - {{ page_title }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', path='img/favicon.ico') }}"/>
    <link href="{{ url_for('static', path='css/bootstrap.min.css') }}" rel="stylesheet">
    {% block style %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
