{% macro card_text(text) -%}
    <p class="card-text fw-bolder">{{ text }}</p>
{%- endmacro %}

{% macro render_hosts(hosts, col, img_path) %}
    {% for host in hosts %}
        {% if host.column == col %}

        <div class="card
        {% if host.error %}
            text-white bg-danger
        {% elif host.snmp_error %}
            text-white bg-danger
        {% elif host.problems %}

            {% if host.problems[0].severity|int() == 5  %}
                text-white bg-danger
            {% elif host.problems[0].severity|int() == 4 %}
                text-white bg-danger
            {% elif host.problems[0].severity|int() == 3 %}
                bg-custom-yellow
            {% elif host.problems[0].severity|int() == 2 %}
                bg-custom-yellow
            {% else %}
                bg-custom-aqua
            {% endif %}

        {% else %}
            bg-custom-green
        {% endif %}
        fw-bolder">
            <div class="row g-0 justify-content-center align-items-center">

                {% set middle_column = 12 %}
                {% if host.image %}
                    {% set middle_column = middle_column - 2 %}
                {% endif %}
                {% if host.data_items %}
                    {% set middle_column = middle_column - 2 %}
                {% endif %}

                <!-- Первая колонка карточки  -->
                    {% if host.image %}
                    <div class="col-md-2 justify-content-start">
                        <img src="{{ img_path|string() + host.image }}" width="85" height="85" />
                    </div>
                    {% endif %}

                    <!-- Вторая колонка карточки -->
                    {% set max_host_problems_to_display = 2 %}
                    <div class="col-md-{{ middle_column }} justify-content-start">
                        <div class="card-body p-0">
                            <h2 class="card-title fw-bolder">
                                <a class="text-decoration-none text-reset" data-id="{{ host.hostid }}" href="#" style="background-color:transparent" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    {{ host.name }} ({{ host.interfaces[0]['ip'] }}) {% if host.problems|count > max_host_problems_to_display %}[P:{{ host.problems|count }}]{% endif %}
                                </a>
                            </h2>
                                {% if host.error %} {{ card_text(host.error) }} {% endif %}
                                {% if host.snmp_error %} {{ card_text(host.snmp_error) }} {% endif %}
                                {% for index in range(max_host_problems_to_display) %}
                                        {% if host.problems[index] %}
                                                {{ card_text('[' + host.problems[index].clock + '] ' + host.problems[index].name) }}
                                        {% endif %}
                                {% endfor %}
                        </div>
                    </div>

                    <!-- Третья колонка карточки -->
                    {% if host.data_items %}
                    <div class="col-md-2 d-flex justify-content-center">
                            <div class="container">
                                    {% for item in host.data_items %}
                                        <div class="row"><h5 class="fw-bolder">{{ item.item_value + ' ' + item.item_type }}</h5></div>
                                    {% endfor %}
                            </div>
                    </div>
                    {% endif %}

            </div>
        </div>
        {% endif %}
    {% endfor %}
{% endmacro %}
