{% extends "modal.html" %}

{% block id %}itemsModal{% endblock %}
{% block size %}{% endblock %}
{% block title %}Данные для:{% endblock %}

{% block content %}
    <div class="overflow-auto">

        <input name="host_id" type="hidden" id="host_id">
        <input name="item_id" type="hidden" id="item_id">

        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text">Элемент мониторинга:</span>
            <input type="text" id="item_name" name="item_name" value="111" placeholder="Введите ключ элемента данных Zabbix" class="form-control" aria-label="" aria-describedby="">
        </div>

        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" >Тип данных:</span>
            <input type="text" id="item_type" name="item_type" value="222" placeholder="Введите тип значения для отображения" class="form-control" aria-label="" aria-describedby="">
        </div>

        <div id="items_content">
        </div>

        <div id="items_status">
        </div>

    </div>
    <button type="button" class="btn btn-success" id="item_add">Добавить</button>
    <button type="button" class="btn btn-primary" id="item_patch">Изменить</button>
    <button type="button" class="btn btn-danger" id="item_delete">Удалить</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>

{% endblock %}
